.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem 10rem 5rem;
    background-color: var(--color-secondary);
    padding-top: 30px;
}

.title {
    width: 480px;
    height: 200px;
    font-size: 25px;
}

.title > h1 {
    font-weight: 500;
}
.wrapper {
    display: flex;
    gap: 20px;
}